QMainWindow * {
	font-family: "Roboto Condensed";
	font-size: 12pt;
}

QMainWindow {
	background-color: white;
}

/* only QLabel class */

.QLabel, .ClickableLabel {
	/* max-height: 20px; */
	qproperty-alignment: AlignCenter;
}

.ExtraWindow .QLabel {
	font-size: 18pt;
	max-height: 40px;
}

QVBoxLayout {
	text-align: center;
}

/* QLabel class and all classes derived from it */
QLabel {
	text-align: center;
}
