QMainWindow * {
	font-family: "Roboto Condensed";
	font-size: 12pt;
}

QMainWindow {
	background-color: qlineargradient(
		spread:pad,
		x1:0, y1:0, x2:1, y2:0,
		stop:0.000 rgb(25, 112, 177),
		stop:0.500 rgb(35, 146, 153),
		stop:1.000 rgb(50, 171, 108)
	);
}

/* only QLabel class */

.QLabel, .ClickableLabel {
	/* max-height: 20px; */
	qproperty-alignment: AlignCenter;
}

.ExtraWindow .QLabel {
	font-size: 18pt;
	max-height: 40px;
}

QVBoxLayout {
	text-align: center;
}

/* QLabel class and all classes derived from it */
QLabel {
	text-align: center;
}
